
/*-----------------------------
  - Feature Section Css
------------------------------*/

.single-feature-item {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.single-feature-item {
    .feature-icon {
        flex: 0 0 auto;
        margin-right: 18px;
        background-color: #fff;
        fill: $primary;
        color: $primary;
        font-size: 32px;
        height: 80px;
        width: 80px;
        line-height: 78px;
        border-radius: 500%;
        text-align: center;
    }
    .title {
        font-weight: 600;
    }
    .description {
        font-size: 14px;
    }
}